# Kopieer naar .env en pas de waarden aan. .env wordt niet gecommit (zie .gitignore).

TYPE=docker
QRCODE_GENERATOR=internal-chillerlan.qrcode
BASE_URL=http://localhost

DATABASE_HOST=php-dynamic-qrcode-db
DATABASE_PORT=3306
DATABASE_NAME=qrcode
DATABASE_USER=qrcode
DATABASE_PASSWORD=change-me-to-a-strong-password
DATABASE_PREFIX=
DATABASE_CHARSET=utf8

MYSQL_ROOT_PASSWORD=change-me-to-a-strong-root-password
